<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>查询</title>
  <link rel="stylesheet" href="../static/css/layui.css">
</head>
<body>
    <script src="../static/layui.all.js"></script>
    <div style="margin:10px">
    <table id="demo" lay-filter="test"></table>
    </div>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit" style="margin-left:8px;">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" style="margin-left:15px;">删除</a>
    </script>
    <script type="text/javascript">
        var storage=window.localStorage;
        var $ = layui.$;
        var table=layui.table;
        var layer = layui.layer;
        var form=layui.form;
        table.render({
            elem: '#demo',
            height: 470,
            cellMinWidth: 90,

            limit:10,
            limits:[10,20,30,40,50],
            url: '/api/getAll' ,//数据接口
            /*data:[{"id":10000,"username":"user-0","sex":"女","city":"一级","sign":"签名-0","experience":255,"logins":24,"wealth":82830700,"classify":"作家","score":57},
            {"id":10001,"username":"user-1","sex":"男","city":"一级","sign":"签名-1","experience":884,"logins":58,"wealth":64928690,"classify":"词人","score":27},
            {"id":10002,"username":"user-2","sex":"女","city":"一级","sign":"签名-2","experience":650,"logins":77,"wealth":6298078,"classify":"酱油","score":31},
            {"id":10003,"username":"user-3","sex":"女","city":"一级","sign":"签名-3","experience":362,"logins":157,"wealth":37117017,"classify":"诗人","score":68},
            {"id":10004,"username":"user-4","sex":"男","city":"一级","sign":"签名-4","experience":807,"logins":51,"wealth":76263262,"classify":"作家","score":6},
            {"id":10005,"username":"user-5","sex":"女","city":"二级","sign":"签名-5","experience":173,"logins":68,"wealth":60344147,"classify":"作家","score":87},
            {"id":10006,"username":"user-6","sex":"女","city":"三级","sign":"签名-6","experience":982,"logins":37,"wealth":57768166,"classify":"作家","score":34},
            {"id":10007,"username":"user-7","sex":"男","city":"四级","sign":"签名-7","experience":727,"logins":150,"wealth":82030578,"classify":"作家","score":28},
            {"id":10008,"username":"user-8","sex":"男","city":"五级","sign":"签名-8","experience":951,"logins":133,"wealth":16503371,"classify":"词人","score":14},
            {"id":10009,"username":"user-9","sex":"女","city":"四级","sign":"签名-9","experience":484,"logins":25,"wealth":86801934,"classify":"词人","score":75},
            {"id":10010,"username":"user-10","sex":"女","city":"四级","sign":"签名-10","experience":1016,"logins":182,"wealth":71294671,"classify":"诗人","score":34},
            {"id":10011,"username":"user-11","sex":"女","city":"四级","sign":"签名-11","experience":492,"logins":107,"wealth":8062783,"classify":"诗人","score":6},
            {"id":10012,"username":"user-12","sex":"女","city":"四级","sign":"签名-12","experience":106,"logins":176,"wealth":42622704,"classify":"词人","score":54},
            {"id":10013,"username":"user-13","sex":"男","city":"四级","sign":"签名-13","experience":1047,"logins":94,"wealth":59508583,"classify":"诗人","score":63},
            {"id":10014,"username":"user-14","sex":"男","city":"四级","sign":"签名-14","experience":873,"logins":116,"wealth":72549912,"classify":"词人","score":8},
            {"id":10015,"username":"user-15","sex":"女","city":"四级","sign":"签名-15","experience":1068,"logins":27,"wealth":52737025,"classify":"作家","score":28}],*/
            
            page: true, //开启分页
            cols: [[ //表头
             {type:'numbers'}
            ,{field: 'name', title: '用户名', width: 120} //name
            ,{field: 'lid', title: '订单编号', width: 120,sort:true}  //lid
            ,{field: 'money', title: '订单金额', width:120, sort: true}  //money
            ,{field: 'level', title: '风险评级', width: 90}  //level
            ,{field: 'danger', title: '风险类别', width: 150}
            ,{field: 'desc', title: '描述'}  //desc
            ,{field: 'thing', title: '业务线', width: 150}  //thing
            ,{field: 'time', title: '时间', width: 150}  //time
            ,{fixed: 'right',width:150,toolbar:'#barDemo'}
            ]]
        });
        table.on('tool(test)',function(obj){
            var data=obj.data,
            layevent=obj.event;console.log(data);
            if(layevent==='edit')
            {
                var d=JSON.stringify(data);
                storage.setItem("data",d);
                layer.open({
                    type:2,
                    area:['400px','520px'],
                    maxmin: true,
                    shadeClose:true,
                    content:'../search/tab.html',
                    success:function(layero,index){

                    },
                   end:function()
                        {
                            var iframedata = JSON.parse(localStorage.getItem("iframedata")); 
                            if(iframedata!=null){
                                obj.update({
                                    danger:iframedata.danger
                                    ,thing:iframedata.thing
                                    ,money:iframedata.money
                                    ,level:iframedata.level
                                    ,desc:iframedata.desc
                                })
                            }
                            else{
                                layer.alert("提交失败");
                            }                
                        }
                });
            }
            else if(layevent==='del')
            {
                layer.confirm('确认删除吗',function(index){
                    console.log(data);

                    $.ajax({
                        url:'/api/form',
                        type:'POST',
                        data:{
                            type:"3",
                            id:data.lid
                            },
                        success:function(data){
                            if(data.status==1)
                            {
                                layer.alert(data.msg);
                            }
                            else if(data.status==0){
                                obj.del();
                                layer.close(index);
                                $(".layui-laypage-btn")[0].click();
                            }
                        }
                        
                    });
                    
                })

            }
        })
        
    </script>
 
</body>
</html>

