<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui.form小例子</title>
    <link rel="stylesheet" href="../static/css/layui.css" media="all">
    <style>
        form{
            position: absolute;
            top:50px;
            left: 300px;
        }
        #top{
            width: 400px;
            height: auto;
            margin: 10px auto;

        }
    </style>
</head>
<body>
    <div id="top">
<form class="layui-form" style="margin:0px; position:static">
    <div class="layui-form-item">
        <label class="layui-form-label">风险类别</label>
        <div class="layui-input-block">
            <select name="danger" id="name">
                <option value="one">政治风险</option>
                <option value="two">社会风险</option>
                <option value="three">经济风险</option>
                <option value="four">自然风险</option>
                <option value="five">技术风险</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">业务线</label>
        <div class="layui-input-block">
            <select name="thing">
                <option value="one">负债业务</option>
                <option value="two">资产业务</option>
                <option value="three">中间业务</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea name="desc" lay-verify="desc" placeholder="请输入内容" class="layui-textarea" maxlength="255" minlength="1"></textarea>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label" >金额</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input name="price_min" lay-verify="required" placeholder="￥" autocomplete="off" class="layui-input" type="text">
        </div>
        <div class="layui-form-mid">-</div>
        <div class="layui-input-inline" style="width: 100px;">
            <input name="price_max" lay-verify="required" placeholder="￥" autocomplete="off" class="layui-input" type="text">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" type="level">风险评级</label>
        <div class="layui-input-block">
            <select name="level" lay-filter="pingji">
                <option value="one">一级</option>
                <option value="two">二级</option>
                <option value="three">三级</option>
                <option value="four">四级</option>
                <option value="five">五级</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">编辑类型</label>
        <div class="layui-input-block">
            <select name="type">
                <option value="0">增加</option>
                <option value="1">修改</option>
                <option value="2">删除</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn " lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>
</div>
<!--引入layui文件-->
<script src="../static/layui.all.js"></script>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
        var form = layui.form;
        var layer = layui.layer;

        //自定义验证规则
        form.verify({
            desc: function(value){
                if(value.length < 1){
                    return '您还没有填写描述内容';
                }
            }
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });
</script>

</body>
</html>