<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>银行管理系统</title>
    <link rel="stylesheet" href="../static/css/layui.css">
    <style>
        .left_nav{
            position: relative;
            left: 40px;
        }
        .layui-body {
            top: 60px;
        }
    </style>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><i class="layui-icon" style="font-size: 30px; color: #1E9FFF;">&#xe62e;</i></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;"  id="username">
                
                </a>
            </li>
            <li class="layui-nav-item"><a href="/api/logout" id="exit">退出登录</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree  layui-bg-cyan "  lay-filter="">
                <li class="layui-nav-item layui-nav-itemed layui-this li_height">
                    <a href="../submit/submit.html" target="menuFrame" class="left_navbar"><i class="layui-icon" style="font-size: 20px; color: #dddddd;position: relative;left: 20px;top: 1px;">&#xe63c;</i><span class="left_nav">增加表单</span></a>
                </li>
                <li class="layui-nav-item layui-nav-itemed li_height" id="search">
                    <a href="../search/item2.html" target="menuFrame" class="left_navbar"><i class="layui-icon" style="font-size: 20px; color: #dddddd;position: relative;left: 20px;top: 1px;">&#xe615;</i><span class="left_nav">查询数据</span></a>
                </li>
                <li class="layui-nav-item layui-nav-itemed li_height" id="edit_user">
                    <a href="../edit/item3.html" target="menuFrame" class="left_navbar"><i class="layui-icon" style="font-size: 20px; color: #dddddd;position: relative;left: 20px;top: 1px;">&#xe620;</i><span class="left_nav">后台设置</span></a>
                </li>
                <li class="layui-nav-item layui-nav-itemed li_height">
                    <a href="../data/item4.html" target="menuFrame" class="left_navbar"><i class="layui-icon" style="font-size: 20px; color: #dddddd;position: relative;left: 20px;top: 1px;">&#xe609;</i><span class="left_nav">数据导出</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe id="menuFrame" class="page-ifream" name="menuFrame" src="../welcome/welcome.html" width="100%" height="100%" frameborder="0" scrolling="yes" align="middle"></iframe>
    </div>

    <div class="layui-footer">
        @智邮普创工作室  
        <a href="https://zypc.xupt.edu.cn/" style="margin: 0 20px;background-color: #dedcdc">官方网站</a>
        <a href="#" style="margin: 0 20px;background-color: #dedcdc">Github</a>
    </div>
</div>

<script src="../static/layui.all.js"></script>
<script type="text/javascript">
        var $ = layui.jquery;
        //引入jQuery
        $.ajax({
            url: "/api/check",
            type: "POST",
            data : {},
            success : function (data) {
                if (data.data.type == "User" ){
                    $("#edit_user").hide();
                }
                document.getElementById("username").innerHTML = data.data.username;
            },
            error : function(){layer.msg("获取用户信息失败")}                
        });
</script>
</body>
</html>
