<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>银行管理系统</title>
    <link rel="stylesheet" href="../static/css/layui.css">
    <script src="../static/jquery-3.2.1.js"></script>
    <script type="text/javascript">
        window.onload = function (data) {
            $.ajax({
                url:"",
                type:"POST",
                data:{
                    name : data.field.username,
                },
                success:function(data){layer.alert("success")},
                error:function(data){layer.open("不存在此用户", {icon: 1})}
            });
        }
    </script>
    <style>
        .left_nav{
            position: relative;
            left: 40px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><i class="layui-icon" style="font-size: 30px; color: #1E9FFF;">&#xe62e;</i>  </div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" id="username">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    朱思佳
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">修改密码</a></dd>
                    <dd><a href="">更换皮肤</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出登录</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree  layui-bg-cyan "  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed layui-this">
                    <a href="../item/item1.html" target="menuFrame" class="left_navbar"><i class="layui-icon" style="font-size: 20px; color: #dddddd;position: relative;left: 20px;top: 1px;">&#xe63c;</i><span class="left_nav">表单模块</span></a>
                </li>
                <li class="layui-nav-item layui-nav-itemed" id="search">
                    <a href="../search/item2.html" target="menuFrame" class="left_navbar"><i class="layui-icon" style="font-size: 20px; color: #dddddd;position: relative;left: 20px;top: 1px;">&#xe615;</i><span class="left_nav">查询模块</span></a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="../edit/item3.html" target="menuFrame" class="left_navbar"><i class="layui-icon" style="font-size: 20px; color: #dddddd;position: relative;left: 20px;top: 1px;">&#xe620;</i><span class="left_nav">设置模块</span></a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="../data/item4.html" target="menuFrame" class="left_navbar"><i class="layui-icon" style="font-size: 20px; color: #dddddd;position: relative;left: 20px;top: 1px;">&#xe609;</i><span class="left_nav">数据导出</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe id="menuFrame" class="page-ifream" name="menuFrame" src="../item/welcome.html" width="100%" height="100%" frameborder="0" scrolling="yes" align="middle"></iframe>
    </div>


    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>

</div>
<script src="../static/layui.all.js"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //各种基于事件的操作，下面会有进一步介绍
    });
</script>
</body>
</html>