<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>登陆</title>
  <link rel="stylesheet" href="/static/css/layui.css">
  <link rel="stylesheet" href="/static/css/index.css" type="text/css">

</head>
<body>
   <script src="/static/layui.all.js"></script>
   <div class="main"></div>
  <div class="topic">
      <div class="topic_div1">
        <div class="topic_div1_bt"><h4>登&nbsp&nbsp&nbsp&nbsp录</h4></div>
        <form class="layui-form" action="">
            <div class="layui-form-item" style="margin-bottom: 23px">
                <label class="layui-form-label" style="width:25px;padding-right: 0px"><i class="layui-icon" style="font-size: 23px">&#xe612;</i></label>
                <div class="layui-input-block" style="margin-left:40px">
                    <input type="text" name="username" required  lay-verify="username" placeholder="请输入账号" autocomplete="off" class="layui-input plholder" style="border:0px;">
                </div>
                <hr style="margin:0px">
            </div>

            <div class="layui-form-item" style="margin-bottom: 23px">
                <label class="layui-form-label" style="width:25px;padding-right: 0px"><i class="layui-icon" style="font-size: 23px">&#xe64c;</i></label>
                <div class="layui-input-block" style="margin-left:40px">
                    <input type="password" name="password" required  lay-verify="password" placeholder="请输入密码" autocomplete="off" class="layui-input plholder" style="border:0px;">
                </div>
                <hr style="margin:0px">
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left:0px">
                    <button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal" lay-submit lay-filter="formDemo" style="width:220px">登 录</button>
                </div>
            </div>
        </form>
      </div>
  </div>
<script >
    var $ = layui.$;
    var form=layui.form;
    var layer=layui.layer;
    form.verify({
        username:function(value){
            if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                return '用户名不能有特殊字符';
            }
        },
        password: [/^[\S]{6,12}$/ ,'密码必须6到12位，且不能出现空格']
    });
    form.on('submit(formDemo)',function(data){
    //layer.alert(data.field.password, {title: '提示框'}),
        $.ajax({
            url:"/api/login",
            type:"POST",
            //dataType:"json",
            data:{
                name : data.field.username,
                password : data.field.password
                },
            success:function(data){
                var return_data = data;
                // var return_data = JSON.parse(data);
                // console.log(datas.status,typeof(datas));
                if(return_data.status==0)
                {
                    layer.alert("登录成功");
                    location.href = "/home";       //登录成功后跳转
                }
                else if(return_data.status==1) {
                    layer.alert(return_data.msg);
                }else{
                    layer.alert("未知错误！");
                }
            },
            error:function(){
            layer.alert("应该是没有后台的原因");
            }

        });

    return false;
     });
</script>
</body>
</html>