<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../static/css/layui.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>  

<table class="layui-table" lay-data="{width: 892, height:332, url:'/demo/table/user/', page:true, id:'idTest'}" lay-filter="demo">
  <thead>
    <tr>
      <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
      <th lay-data="{field:'id', width:80, sort: true, fixed: true}">ID</th>
      <th lay-data="{field:'username', width:80}">用户名</th>
      <th lay-data="{field:'sex', width:80, sort: true}">性别</th>
      <th lay-data="{field:'city', width:80}">城市</th>
      <th lay-data="{field:'sign', width:160}">签名</th>
      <th lay-data="{field:'experience', width:80, sort: true}">积分</th>
      
      <th lay-data="{field:'classify', width:80}">职业</th>
      <th lay-data="{field:'wealth', width:135, sort: true}">财富</th>
      <th lay-data="{field:'score', width:80, sort: true, fixed: 'right'}">评分</th>
      <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}"></th>
    </tr>
  </thead>
</table>
 
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
    
<script src="../static/layui.all.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
  var $ = layui.$;
  var table=layui.table;
  var layer = layui.layer;
  var form=layui.form;
  //监听表格复选框选择

  table.render({
            elem: '#demo',
            height: 470,
            cellMinWidth: 100,
            //url: '/api/getAll' ,//数据接口
            data:[{"id":10000,"username":"user-0","sex":"女","city":"一级","sign":"签名-0","experience":255,"logins":24,"wealth":82830700,"classify":"作家","score":57},
            {"id":10001,"username":"user-1","sex":"男","city":"一级","sign":"签名-1","experience":884,"logins":58,"wealth":64928690,"classify":"词人","score":27},
            {"id":10002,"username":"user-2","sex":"女","city":"一级","sign":"签名-2","experience":650,"logins":77,"wealth":6298078,"classify":"酱油","score":31},
            {"id":10003,"username":"user-3","sex":"女","city":"一级","sign":"签名-3","experience":362,"logins":157,"wealth":37117017,"classify":"诗人","score":68},
            {"id":10004,"username":"user-4","sex":"男","city":"一级","sign":"签名-4","experience":807,"logins":51,"wealth":76263262,"classify":"作家","score":6},
            {"id":10005,"username":"user-5","sex":"女","city":"二级","sign":"签名-5","experience":173,"logins":68,"wealth":60344147,"classify":"作家","score":87},
            {"id":10006,"username":"user-6","sex":"女","city":"三级","sign":"签名-6","experience":982,"logins":37,"wealth":57768166,"classify":"作家","score":34},
            {"id":10007,"username":"user-7","sex":"男","city":"四级","sign":"签名-7","experience":727,"logins":150,"wealth":82030578,"classify":"作家","score":28},
            {"id":10008,"username":"user-8","sex":"男","city":"五级","sign":"签名-8","experience":951,"logins":133,"wealth":16503371,"classify":"词人","score":14},
            {"id":10009,"username":"user-9","sex":"女","city":"四级","sign":"签名-9","experience":484,"logins":25,"wealth":86801934,"classify":"词人","score":75},
            {"id":10010,"username":"user-10","sex":"女","city":"四级","sign":"签名-10","experience":1016,"logins":182,"wealth":71294671,"classify":"诗人","score":34},
            {"id":10011,"username":"user-11","sex":"女","city":"四级","sign":"签名-11","experience":492,"logins":107,"wealth":8062783,"classify":"诗人","score":6},
            {"id":10012,"username":"user-12","sex":"女","city":"四级","sign":"签名-12","experience":106,"logins":176,"wealth":42622704,"classify":"词人","score":54},
            {"id":10013,"username":"user-13","sex":"男","city":"四级","sign":"签名-13","experience":1047,"logins":94,"wealth":59508583,"classify":"诗人","score":63},
            {"id":10014,"username":"user-14","sex":"男","city":"四级","sign":"签名-14","experience":873,"logins":116,"wealth":72549912,"classify":"词人","score":8},
            {"id":10015,"username":"user-15","sex":"女","city":"四级","sign":"签名-15","experience":1068,"logins":27,"wealth":52737025,"classify":"作家","score":28}],
            
            page: true, //开启分页
        });

  table.on('checkbox(demo)', function(obj){
    console.log(obj)
  });
  //监听工具条
  table.on('tool(demo)', function(obj){
    var data = obj.data;
    if(obj.event === 'detail'){
      layer.msg('ID：'+ data.id + ' 的查看操作');
    } else if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        layer.close(index);
      });
    } else if(obj.event === 'edit'){
      layer.alert('编辑行：<br>'+ JSON.stringify(data))
    }
  });
  
  var $ = layui.$, active = {
    getCheckData: function(){ //获取选中数据
      var checkStatus = table.checkStatus('idTest')
      ,data = checkStatus.data;
      layer.alert(JSON.stringify(data));
    }
    ,getCheckLength: function(){ //获取选中数目
      var checkStatus = table.checkStatus('idTest')
      ,data = checkStatus.data;
      layer.msg('选中了：'+ data.length + ' 个');
    }
    ,isAll: function(){ //验证是否全选
      var checkStatus = table.checkStatus('idTest');
      layer.msg(checkStatus.isAll ? '全选': '未全选')
    }
  };
  
  $('.demoTable .layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });

</script>

</body>
</html>