<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>查询</title>
  <link rel="stylesheet" href="../static/css/layui.css">
</head>
<body>
    <div class="layui-btn-group demoTable">
      <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
      <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
      <button class="layui-btn" data-type="isAll">验证是否全选</button>
    <div style="margin:10px">
    <table id="demo" lay-filter="test">
    </table>
    </div>
    <script type="text/html" id="barDemo">
      <a class="layui-btn layui-btn-xs" lay-event="edit" id="button">编辑</a>
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" id="button">删除</a>
    </script>
    <script src="../static/layui.all.js"></script>
    <script type="text/javascript">
        var $ = layui.$;
        var table=layui.table;
        var layer = layui.layer;
        var form=layui.form;
        table.render({
            elem: '#demo',
            height: 470,
            cellMinWidth: 100,
            //url: '/api/getAll' ,//数据接口
            data:[{"id":10000,"username":"郭吉航","identity":"管理员","number":"5"},
            {"id":10000,"username":"朱思佳","identity":"普通用户","number":"5"},
            {"id":10000,"username":"李启蒙","identity":"普通用户","number":"5"},
            {"id":10000,"username":"孙明明","identity":"普通用户","number":"5"},
            {"id":10000,"username":"李嘉豪","identity":"普通用户","number":"5"},
            {"id":10000,"username":"王萌","identity":"普通用户","number":"5"},
            ],
            
            page: true, //开启分页
            cols: [[ //表头 
             {type:'numbers'}
            ,{type: 'checkbox',bar:'#demo'}
            ,{field: 'username', title: '用户名', width: 200} //name
            ,{field: 'id', title: 'ID', width: 200,sort:true}  //lid
            ,{field: 'identity', title: '身份', width:200, sort: true}  //money
            ,{field: 'number', title: '订单数量', width: 200}  //level
            ,{fixed: 'right',width:110,toolbar:'#barDemo'}
            ]]
        });
        var table = layui.table;
  //监听表格复选框选择
  table.on('checkbox(demo)', function(obj){
    console.log(obj)
  });
  //监听工具条
  table.on('tool(test)', function(obj){
    var data = obj.data;
    layevent=obj.event;
    if(layevent === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        layer.close(index);
      });
    } 
    else if(layevent === 'edit'){
      layer.alert('编辑行：<br>'+ JSON.stringify(data))
    }
  });
  
  var $ = layui.$, active = {
    getCheckData: function(){ //获取选中数据
      var checkStatus = table.checkStatus('demo')
      ,data = checkStatus.data;
      layer.alert(JSON.stringify(data));
    }
    ,getCheckLength: function(){ //获取选中数目
      var checkStatus = table.checkStatus('demo')
      ,data = checkStatus.data;
      layer.msg('选中了：'+ data.length + ' 个');
    }
    ,isAll: function(){ //验证是否全选
      var checkStatus = table.checkStatus('demo');
      layer.msg(checkStatus.isAll ? '全选': '未全选')
    }
  };
  
  $('.demoTable .layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
    </script>
 
</body>
</html>